<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [ ]:
# Excercise 1 - Create a Create a new Jupyter notebook called DataScienceEcosystem.ipynb

In [ ]:
# Excercise 2 - Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [ ]:
# Exercise 3 - Create a markdown cell for an introduction

##### In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
# Exercise 10 - Insert a markdown cell to list Objectives

##### **Objectives:**
- List of popular languages for data science
- List of common libraries used in data science
- List of IDEs (open source)
- Examples of evaluating arithmetic expressions in Python

In [ ]:
# Exercise 4 - Create a markdown cell to list data science languages

##### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

In [ ]:
# Exercise 5 - Create a markdown cell to list data science libraries

##### Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Plotly
3. ggplot2

In [ ]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| ------ |
| 1. JupyterLab |
| 2. Jupyter Notebook |
| 3. RStudio |

In [ ]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# Exercise 8 - Create a code cell to multiply and add numbers

In [3]:
# This is a simple arithmetic expression to multiply  then add integers.
(3*4)+5

17

In [ ]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [4]:
# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

## Author
##### Regina Virata